<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />


<div class="container" style="margin-top: 15%;" >
<div class="col-md-12 col-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h2> Publication </h2>
        <div class="fa-pull-right">
          <button class="btn btn-success"   (click)="addMemo()" > 
              <i class="fas fa-plus-square" aria-hidden="true"></i> Ajouter</button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody><tr>
              <th class="text-center">
                <div class="custom-checkbox custom-checkbox-table custom-control">
                  <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
                  <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                </div>
              </th>
              <th>Médecin</th>
              <th>titre</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let memo of listMemo" >
                <!-- <ng-container *ngIf="memo.medecin.idMedecin == medecin.idMedecin" > -->
                  <td class="p-0 text-center">
                    <div class="custom-checkbox custom-control">
                      <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                      <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                    </div>
                  </td>
                  <td> {{memo.medecin.initial }} </td>
                  <td class="align-middle">   {{ memo.titre }}</td>
                  <td>  {{ memo.date_creer  }} </td>
                  <td>
                    <a class="btn btn-outline-success btn-action mr-1" (click)="ShowMemo(memo.idMemos) " >
                        <i class="fa fa-eye"></i></a>
                    <a  *ngIf="memo.medecin.idMedecin == medecin.idMedecin"
                     class="btn btn-outline-danger btn-action" data-toggle="tooltip"  (click)="deleteMemo(memo.idMemos)"  >
                            <i class="fa fa-trash"></i></a>
                  </td>
                <!-- </ng-container> -->
                
              
            </tr>
           
          </tbody></table>
        </div>
      </div>
    </div>
  </div>
</div>