<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <div class="card-actions float-right">
                <div class="show">
                    <a   data-display="static">
                        <i class="fa fa-window-close fa-2x"  style="color: red"  (click)="close()" aria-hidden="true"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                    </div>
                </div>
            </div>
            <h2 class="card-title mb-0">{{  data.titre }} </h2>
        </div>
        <div class="card">
            <div class="card-body">
               
                <p class="card-text text-center fa-20px "> {{ data.message }} </p>
            </div>
            <div class="card-footer pull-left">
                date {{ data.date_creer }}
            </div>
        </div>
       
    </div>
</div>